{{#section 'head'}}
	<script id="playerTemplate" type="text/x-handlebars-template">
		<h6>Farming Level: \{{ player.farmingLevel }}</h6>
		<h6>Farming Experience: \{{ player.farmingExperience }}</h6>
		<div id="playerEnergy"></div>
		<h5>Inventory:</h5>
		\{{#if player.inventory}}
			<ul class="list-group">
			\{{#each player.inventory}}
				<li class="list-group-item"><b>\{{this.name}}:</b> \{{this.description}}
			\{{/each}}
			</ul>
		\{{else}}
			<p>None</p>
		\{{/if}}
	</script>

	<script id="plotHoverTemplate" type="text/x-handlebars-template">
		<ul class="list-group">
			<li class="list-group-item">
				<b>Fertility:</b> \{{ plot.soilType.fertility }}
			</li>
			<li class="list-group-item">
				<b>Nutrients:</b> \{{ plot.nutrientConcentration }}
			</li>	
			<li class="list-group-item">
				<b>Water Level:</b> \{{ plot.waterLevel }}
			</li>
		</ul>
	</script>
{{/section}}


<div class="row">
	<div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1">
		<div id="container"></div>
	</div>
	<div class="col-lg-2 col-md-2">
		<div class="panel panel-default">
			<div id="plot" class="panel-body">Hover over plots to see more info
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-4">
		<div class="panel panel-default">
			<div id="player" class="panel-body">

			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	farm = "{{json farm}}";
	str = farm.replace(/&quot;/g, '"');
	HMS.display($.parseJSON(str));
</script>